.viewBillPage{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-color: #f5f5f5;
    padding: 0px;
}

.title{
    text-align: center;
    font-size: 1.5rem;
    margin: 0px;
    color: #333;

}

.tableContainer{
    width: 100%;
    max-width: 800px;
    margin-top: 20px;
    overflow-x: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background-color: #fff;
    padding: 20px;
    
}

.table{
    width: 100%;
    border-collapse: collapse;
    font-size: 1.1rem;
    color: #333;
    margin-bottom: 20px;

}

.table th, .table td{
    padding: 10px 20px;
    border: 1px solid #ccc;
}

.table th{
    background-color: #686565;
    color: #fff;
    font-weight: bold;

}

.table tr:nth-child(even){
    background-color: #f9f9f9;
}

