.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2c3e50;
  color: white;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.userSection {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.userIcon {
  font-size: 24px;
  margin-right: 5px;
  color: #f1c40f;
}

.userName {
  font-size: 18px;
  font-weight: 500;
  color: white;
}

.logoutButton {
  margin-left: 10px;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  background-color: #e74c3c;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
  
  margin-left: 30px;
}

.logoutButton:hover {
  background-color: #c0392b;
}


.link{ 
  color: #f39c12; 
  text-decoration: none;
  padding: 2px 10px;
}

.link:hover {
  background-color: #34495e; 
  border-radius: 4px;
  color: #f39c12; 
  text-decoration: none;
  padding: 2px 10px;
}

.activeLink {
  background-color: #34495e; 
  border-radius: 4px;
  color: #f39c12; 
  padding: 2px 10px;
}