.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to right, #6a11cb, #2575fc);
    color: #fff;
    font-family: 'Arial', sans-serif;
    padding: 20px;
    box-sizing: border-box;
}

.formContainer {
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    margin: 0 20px;
}

.formContainer h2 {
    color: #333;
    margin-bottom: 20px;
}

.input {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    box-sizing: border-box;
}

.resetPassword {
    color: #464547;
    margin: 0;
    margin-bottom: 10px;
}

.button {
    width: 100%;
    background-color: #6a11cb;
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 10px;
}

.button:hover {
    background-color: #2575fc;
}

.text {
    color: #464547;
    text-decoration: none;
    font-size: 1rem;
    margin: 0;
}

.passwordText{
    color: #464547;
    text-decoration: none;
    font-size: 1rem;
    margin: 0px;
    margin-bottom: 10px;
}

.link{
    text-decoration: none;
  }

.error {
    color: red;
    font-size: 14px;
    margin-bottom: 10px;
    text-align: center;
}

@media (max-width: 768px) {
    .formContainer {
        padding: 30px;
        max-width: 60%;
    }

    .button {
        font-size: 14px;
    }

    .input {
        font-size: 13px;
    }
}

@media (max-width: 480px) {
    .formContainer {
        padding: 20px;
        max-width: 100%;
    }

    .input {
        font-size: 12px;
        padding: 7px;
    }

    .button {
        padding: 7px;
        font-size: 12px;
    }
}
